*, *::before, *::after {
    box-sizing:border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Source Sans Pro', 'Sans Serif';
    line-height: 1.625;
    margin:0;
    color: #6F6F6F;
}

a{
    color:inherit;
    text-decoration: none;
    transition: color .4s;
}

img{
    max-width: 100%;
    height: auto;
}

header{
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, .5) 39.24%, rgba(28, 28, 28, .4) 100%),
        url(img/salle.jpg) center center / cover no-repeat;
    color: #FFFF;
}

.logo a:hover{
    color: #FFFF;
}

.topbar{
    padding: 18px 0;
    font-size: .875rem;
    text-transform: uppercase;
    text-align: center;
}

.menu-item{
    display: inline-block;
    margin: 0 15px;
}

.menu-item:hover{
    color: #C89446;
}

.logo{
    margin-bottom: 15px;
    font-size: 1.25rem;
}

.baseline{
    padding: 50px 0 70px 0;
    text-align: center;
    line-height: 1;
}

.baseline-welcome{
    font-family: 'Pinyon Script', 'Serif';
    color: #C89446;
    font-size: 2.2rem;
    display: block;
}

.baseline-name{
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing:5px;
    text-transform: uppercase;
    padding: bottom 10px;
    display: block;
}

.baseline-slogan{
    font-size: 1rem;
    font-weight:300;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu-button{
    transition-property: color, background-color;
    border: #C89446 1px solid;
    padding: 4px 7px;
    margin-top: 5px;
}

.menu-button:hover{
    color:#FFFF;
    background: #C89446; 
    transition: .6s;   
}

.container-small{
    margin: 0 auto;
    padding: 20px;
    max-width: 960px;
}

.home-section{
    padding-top: 20px;
}

.block{
    margin-bottom: 50px;
}

.title{
    line-height: 1.1;
    font-size: 1.75rem;
    letter-spacing: 2px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0 0 0;
}

.title span{
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    font-size: 2.5rem;
    display: block;
    text-transform: none;
}

.title::before{
    content:'';
    display: block;
    width: 24px;
    height: 2px;
    background: #C89446;
    margin-bottom: .5rem;
}

.more{
    color:#C89446;
}

.more:hover{
    text-decoration: underline;
    color: #C89446;
}

.more::after{
    content: '>';
}

.block-img img{
    display: block;
}



@media screen and (min-width:600px){
    html{
        font-size:16px;
    }
    .header{
        height: 100vh;
        overflow: hidden;
    }

    .logo{
        margin-bottom: 0;
    }

    .logo a{
        font-size: 1.375rem;
    }

    .topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1150px;
        margin: 0 auto;
    }  

    .baseline{
        padding: 155px 0;
    }

    .baseline-welcome{
        font-size: 3.75rem;
    }

    .baseline-name{
        font-size: 4.375rem;
        letter-spacing: 12px;
        padding-top: 8px;
        padding-bottom: 18px;
    }

    .baseline-slogan{
        font-size:1.5rem;
    }

    .menu-button{
        margin-top: 0;
        margin-right: 0;
    }
}

@media screen and (min-width:960px){
    .block-left{
        display: flex;
        align-items: center;
    }

    .block-img{
        position: relative;
    } 

    .block-img::before{
        content: '';
        display: block;
        border: #C89446 1px solid;
        position: absolute;
        top: -25px;
        left: -30px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .block-img img{
        position: relative;
        z-index: 1;
    }

    .block-left .block-img{
        width: 350px;
        flex: none;
        margin-left: 30px;
    }

    .block-left .block-body{
        margin-left: 94px;
    }
    
    .title{
        margin-bottom: 1.2rem;
    }

    .title::before{
        margin-bottom: 28px;
    }

    .more{
        display: block;
        margin-top: 1.2rem;
    }
}
